In [17]:
import keras
from keras.layers import Dense
import pandas as pd
import numpy as np
from keras.models import Sequential

In [10]:
p=pd.read_csv("water.csv")

In [12]:
p.head()

         Date  POONDI  CHOLAVARAM  REDHILLS  CHEMBARAMBAKKAM
0  01-01-2004     3.9         0.0     268.0              0.0
1  02-01-2004     3.9         0.0     268.0              0.0
2  03-01-2004     3.9         0.0     267.0              0.0
3  04-01-2004     3.9         0.0     267.0              0.0
4  05-01-2004     3.8         0.0     267.0              0.0

In [14]:
p.describe()

            POONDI   CHOLAVARAM     REDHILLS  CHEMBARAMBAKKAM
count  5647.000000  5647.000000  5647.000000      5647.000000
mean   1133.272203   240.020572  1568.345573      1321.381645
std    1026.009311   274.601731   890.363617       957.057834
min       0.900000     0.000000     0.000000         0.000000
25%     213.000000    22.300000   849.000000       471.500000
50%     782.000000    92.000000  1630.000000      1225.000000
75%    2006.000000   460.000000  2236.000000      2083.000000
max    3231.000000   896.000000  3300.000000      3396.000000

In [34]:
classifier=Sequential()
classifier.add(Dense(4,activation='relu',input_dim=4))
classifier.add(Dense(1,activation='relu'))
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=["accuracy"])

In [30]:
from sklearn.model_selection import train_test_split

In [32]:
x=p.drop(columns=['Date'])
y=p.drop(columns=['POONDI','CHOLAVARAM','REDHILLS','CHEMBARAMBAKKAM'])

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [36]:
classifier.fit(x_train,y_train,epochs=10)

W0803 00:13:27.696430 14564 deprecation_wrapper.py:119] From C:\Users\vasis\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/10

ValueError: could not convert string to float: '21-07-2008'